.reveal code {
    font-family: monospace;
    background-color: #eee;
    color: #222222;
    padding: .1em .4em;
    border-radius: 9px;
    font-size: 1.0em;
}

.reveal pre code {
    font-family: monospace;
    font-color: #000000;
    background-color: #eee;
    padding: .2em .8em;
    font-size: 1.0em;
}

.reveal li {
    font-family: monospace;
    text-transform: none;
    font-size: 0.7em;
}

.reveal h1 {
  font-size: 1.5em;
}


.reveal h2 {
  font-size: 1.0em;
  border-bottom: 1px solid #eee;
}

.reveal h3 {
  font-size: 1.0em;
  text-decoration: underline;
  bottom: 15px;
    
}

.reveal h4 {
  font-size: 0.8em;
}

.reveal h5 {
  font-size: 1em;
}

.reveal h6 {
  font-size: 1em;
  color: #777;
}

.reveal p {
  font-size: 0.7em;
}
